<style>
    table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.table-container {
    max-height: 400px; /* Set your desired fixed height */
    overflow-y: auto;
}
</style>

<div id="user-table" class="table-container">
    <table id="users-table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Address</th>
                <th>Email</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- User rows will be dynamically added here -->
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/accounts.js') }}"></script>