<div class="main-title">
    <p class="font-weight-bold h1">INVENTORY</p>
</div>

<div class="main-cards">

    <div class="card">
        <div class="card-inner" id="productsCard"> 
            <p>PRODUCTS</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined">inventory_2</span>
            </div>
        </div>
        <span class="text-primary" id="productsCount">Loading...</span>
    </div>

    <div class="card">
        <div class="card-inner" id="salesCard">
            <p>SALE</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined">add_shopping_cart</span>
            </div>
        </div>
        <span class="text-primary" id="salesCount">Loading...</span>
    </div>

    <div class="card">
        <div class="card-inner" id="tradesCard">
            <p>TRADES</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined">agriculture</span>
            </div>
        </div>
        <span class="text-primary"  id="tradesCount">Loading...</span>
    </div>

    <div class="card">
        <div class="card-inner" id="locationCard">
            <p>BRGY</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined"> holiday_village </span>
            </div>
        </div>
        <span class="text-primary" id="locationCount">Loading...</span>
    </div>
    <div class="card">
        <div class="card-inner" id="guestCard">
            <p>Guest Accounts</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined">people_outline</span>
            </div>
        </div>
        <span class="text-primary" id="guestCount">Loading...</span>
    </div>
    <div class="card">
        <div class="card-inner" id="pendingCard">
            <p>Pending Accounts</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined"> error_ouline </span>
            </div>
        </div>
        <span class="text-primary" id="pendingCount">Loading...</span>
    </div>
    <div class="card">
        <div class="card-inner" id="adminCard">
            <p>Admin Accounts</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined"> admin_panel_settings </span>
            </div>
        </div>
        <span class="text-primary" id="adminCount">Loading...</span>
    </div>
</div>

<div class="charts">

</div>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
