<div class="main-title">
    <p class="font-weight-bold h1">INVENTORY</p>
</div>

<div class="main-cards">

    <div class="card">
        <div class="card-inner" id="productsCard"> 
            <p>PRODUCTS</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined">inventory_2</span>
            </div>
        </div>
        <span class="text-primary" id="productsCount">Loading...</span>
    </div>

    <div class="card">
        <div class="card-inner" id="salesCard">
            <p>SALE</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined">add_shopping_cart</span>
            </div>
        </div>
        <span class="text-primary" id="salesCount">Loading...</span>
    </div>

    <div class="card">
        <div class="card-inner" id="tradesCard">
            <p>TRADES</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined">agriculture</span>
            </div>
        </div>
        <span class="text-primary"  id="tradesCount">Loading...</span>
    </div>

    <div class="card">
        <div class="card-inner" id="locationCard">
            <p>BRGY</p>
            <div class=" icon icon-shape background-blue text-primary">
                <span class="material-icons-outlined"> holiday_village </span>
            </div>
        </div>
        <span class="text-primary" id="locationCount">Loading...</span>
    </div>
</div>

<div class="charts">

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      fetchDataAndDisplay();
  });

  function fetchDataAndDisplay() {
      axios.get('/dashboard-items')  // Replace with your actual API endpoint
          .then(function (response) {
              const data = response.data;
              updateCount('productsCount', data.products_count);
              updateCount('salesCount', data.sales_count);
              updateCount('tradesCount', data.trades_count);
              updateCount('locationCount', data.location_count);
              // Add similar calls for trades and location
          })
          .catch(function (error) {
              console.error('Error fetching data:', error);
          });
  }

  function updateCount(elementId, count) {
      const element = document.getElementById(elementId);
      if (element) {
          element.textContent = count;
      }
  }
</script>
