<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers Inventory</title>

    <!-- Lato Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Source+Sans+3:wght@400;600;700&display=swap"
        rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Material Sysmbols -->

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.40.0/apexcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


</head>

<body>
    <div class="grid-container">
        <!-- Header -->
        <header class="header">

            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-symbols-outlined">menu</span> 
             </div>
            <div class="header-left">
                <span class="user-name">{{ current_user.username }}</span>
                <span class="material-icons-outlined">account_circle</span>
            </div>
            <div class="header-right user-profile">
                <a href="#" onclick="toggleFooter()"><span class="material-symbols-outlined">contact_support</span></a>
            </div>
            <div class="header-right user-profile">
                <a href="#" onclick="logout()"><span class="material-symbols-outlined">logout</span></a>
            </div>
        </header>
        <!-- End Header -->

        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-symbols-outlined">crowdsource</span> Farm's inventory
                </div>
                <span class="material-symbols-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item" data-target="dashboard-content">
                    <span class="material-symbols-outlined">search</span> Dashboard
                </li>
                <li class="sidebar-list-item" data-target="products-content">
                    <span class="material-symbols-outlined" >database </span> Data
                </li>
                <li class="sidebar-list-item" data-target="report-content">
                    <span class="material-symbols-outlined" >bar_chart</span> Report
                </li>
                <li class="sidebar-list-item" data-target="accounts-content">
                    <span class="material-symbols-outlined">group</span>Accounts
                </li>
                <li class="sidebar-list-item" data-target="settings-content">
                    <span class="material-symbols-outlined">settings</span> Settings
                </li>
            </ul>
        </aside>
        <!-- End Sidebar -->

        <!-- Main -->
        
        <main class="main-container">
                <div id="dashboard-content" class="content-div" style="display: none;">
                    {% include "dashboard.html" %}
                </div>
                <div id="products-content" class="content-div" style="display: none;">
                    {% include "data.html" %}
                </div>
                <div id="report-content" class="content-div" style="display: none;">
                    {% include "reports.html" %}        
                </div>
                <div id="accounts-content" class="content-div" style="display: none;">
                    {% include "accounts.html" %}
                </div>
                <div id="settings-content" class="content-div" style="display: none;">
                    {% include "settings.html" %}
                </div>
        </main>
     
        <!-- End Main -->
    </div> 
 
    <div class="footer" id="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h1>About Us</h1>
                <p>
                    Welcome to Cabuyao Farmers Traders – Your Gateway to Seamless Agricultural Transactions!

                    Our Mission
                    At Cabuyao Farmers Trading, we are on a mission to help revolutionize the products of farmers. Our platform serves as an effective marketplace where farmers, traders, and consumers meet to speed up their search for high and low sales of their products in the barangay. We believe in empowering agricultural communities by providing them with a digital space to connect, collaborate, and thrive.

                    Who We Are
                    We are a dedicated team with a passion for agriculture and technology. Our diverse backgrounds in agriculture, software development, and business drive our commitment to creating a platform that addresses the unique challenges faced by those involved in the agricultural supply chain.

                    What Sets Us Apart
                    Transparency: We prioritize transparency for every trader who uses this application to help guide them in trading. Our platform provides real-time information, ensuring that all parties involved have access to fair and accurate data.

                    User-Friendly Interface: Cabuyao Farmers Trading is designed with simplicity in mind. We aim to make the trading process easy and accessible for everyone, from seasoned traders to farmers entering the digital marketplace for the first time.

                    Community-Centric Approach: We value community building.  Cabuyao Farmers Trading is not just a platform; it's a community where individuals and businesses come together to share knowledge, experiences, and opportunities.

                    How It Works
                    Create Your Account: Join our growing community by creating your account. Whether you're a farmer, trader, or buyer, our platform is designed to cater to your unique needs.

                    Explore Trading Opportunities: Browse through a diverse range of trading opportunities. From crops find the perfect match for your agricultural products.

                    Connect and Trade: Engage with other users, negotiate terms, and close deals seamlessly. Our platform facilitates secure transactions and ensures a fair exchange for all.

                    Join Us in Cultivating Success
                    Cabuyao Farmers Trading is more than just a platform; it's a shared vision for a thriving and sustainable agricultural ecosystem. Join us on this journey to cultivate success, empower communities, and reshape the future of agricultural trade.

                    Ready to trade smarter? Create your account and become part of the Agriculture Trading Hub community today!
                </p>
            </div>
        </div>

        <!-- Copyright Section -->
        <div>
            <p style="font-size: 0.8em;">&copy; 2023 Farmers Inventory. All rights reserved.</p>
        </div>
    </div>

    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.40.0/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>